POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
ELEVEN_API_KEY="KEY"
AUTH_SECRET="SECRET"
GOOGLE_CLIENT_SECRET=TODO
GOOGLE_CLIENT_ID=TODO
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_HOST=redis
EMBEDDINGS_GRPC_HOST=embedding
EMBEDDINGS_GRPC_PORT=50051
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=password
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
STRIPE_HOST="http://localhost:8000"
STRIPE_KEY=TODO
STRIPE_CANCEL_URL=TODO
STRIPE_SUCCESS_URL=TODO
STRIPE_WEBHOOK_SECRET=TODO
STRIPE_CONNECT_CLIENT_ID=TODO
DISCORD_TOKEN=TODO
OPENAI_API_KEY=TODO
LLM=gpt-3.5-turbo
STRIPE_API_KEY=TODO
PORT=8000
OTELCOL_ARGS=
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317